#pc-wrap {
  display: block;
}

#app-wrap {
  display: none;
}

a,
span {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 100px) and (max-width: 1024px) {
  #pc-wrap {
    display: none;
  }

  #app-wrap {
    display: block;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    font-family: "PingFang SC";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .text-voerflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .zf-gk {
    width: 100%;
    text-align: center;
    padding: 30px 23px 10px 23px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -webkit-gradient(linear, 12 0, 0 100%, from(#006eab), to(#fff));
  }
  .zf-gk .zf-gk-tz {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 30px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.17);
    padding-bottom: 32px;
  }
  .zf-gk .cax-search {
    width: 100%;
    height: 32px;
    background-color: #fff;
    margin-top: 24px;
    border: 1px solid #006eab;
    border-radius: 4px;
  }
  .zf-gk .cax-search .cax-ipt {
    width: 82%;
    height: 30px;
    border: none;
    outline: none;
    text-align: left;
  }
  .zf-gk .cax-search .cax-fd {
    float: right;
  }
  .zf-gk .cax-search .cax-fd .cax-ss-mg {
    width: 32px;
    height: 32px;
  }

  .zf-bq {
    position: relative;
    width: 100%;
    padding: 0 0 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-bq .zf-bq-jg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background-color: #fff;
  }
  .zf-bq .zf-bq-jg .zf-jg-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 52px;
    margin: 0;
  }
  .zf-bq .zf-bq-jg .zf-jg-p a {
    padding: 0 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .zf-bq .zf-bq-jg .zf-ps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .zf-bq .zf-bq-jg .zf-ps span:nth-child(1) {
    width: 82%;
  }
  .zf-bq .zf-bq-jg p:nth-child(1) {
    width: 33%;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-left: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(1) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg p:nth-child(2) {
    width: 34%;
    background-color: #fff;
    border-top: 1px solid #ebeff4;
    border-bottom: 1px solid #ebeff4;
  }
  .zf-bq .zf-bq-jg p:nth-child(2) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg p:nth-child(3) {
    width: 33%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-right: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(4) {
    width: 33%;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-left: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(4) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg p:nth-child(5) {
    width: 33%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-right: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(6) {
    width: 33%;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-right: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(6) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg p:nth-child(7) {
    width: 34%;
    background-color: #fff;
    border: 1px solid #ebeff4;
    /* border-right: none; */
  }
  .zf-bq .zf-bq-jg p:nth-child(7) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg p:nth-child(8) {
    width: 33%;
    background-color: #fff;
    border: 1px solid #ebeff4;
    border-right: none;
  }
  .zf-bq .zf-bq-jg p:nth-child(8) a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #000;
  }
  .zf-bq .zf-bq-jg .zf-jg-p.active {
    background-color: #006eab;
    color: #fff;
  }
  .zf-bq .zf-bq-jg .zf-jg-p.active a {
    color: #fff;
  }
  .zf-bq .zf-bq-jg .zf-jg-p.active .zf-jgp-mg {
    display: inline-block;
    width: 11px;
    height: 2px;
    background: url(zfxxgk-jianh.png) no-repeat;
  }
  .zf-bq .zf-bq-jg .zf-jgp-mg {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(zfxxgk-wdjh.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 2px;
  }
  .zf-bq .zf-cl {
    position: absolute;
    left: 0;
    top: 52px;
    display: none;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d4d3d3;
    position: absolute;
    z-index: 1;
  }
  .zf-bq .zf-cl .sc-zf-nr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 4px 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .zf-bq .zf-cl .sc-zf-nr .sc-zfnr-wz {
    width: 30%;
    line-height: 28px;
    text-align: center;
  }
  .zf-bq .zf-cl .sc-zf-nr .sc-zfnr-wz a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .zf-bq .zf-cl .sc-zf-nr .sc-zfnr-wz:active a {
    color: #b6710e;
  }
  .zf-bq .zf-cl2 {
    position: absolute;
    left: 0;
    top: 104px;
    display: none;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d4d3d3;
    position: absolute;
    z-index: 1;
  }
  .zf-bq .zf-cl2 .zf-clnr {
    width: 100%;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
  }
  .zf-bq .zf-cl2 .zf-clnr .zf-cl2-yi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;
    background-color: #fff;
  }
  .zf-bq .zf-cl2 .zf-clnr .zf-cl2-yi .zf-yi-yp {
    width: 2px;
    height: 2px;
    background-color: #000;
  }
  .zf-bq .zf-cl2 .zf-clnr .zf-cl2-yi .zf-yi-ep {
    width: 100%;
    height: 100%;
    text-align-last: left;
    background-color: #fff;
    border: none;
  }
  .zf-bq .zf-cl2 .zf-clnr .zf-cl2-yi .zf-yi-ep a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    margin-left: 8px;
  }
  .zf-bq .rs-hide {
    display: none;
  }
  .zf-bq .rs-show {
    display: block;
  }

  .zf-hz {
    width: 100%;
    padding: 0 10px 10px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-hz-sg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    line-height: 30px;
  }
  .zf-hz .zf-hz-sg .zf-hzsg-sg a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #333;
  }
  .zf-hz .zf-hz-sg .zf-hzsg-sgs a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #3375ca;
  }
  .zf-hz .zf-hz-mtbs:hover {
    background-color: red;
  }
  .zf-hz .zf-hz-mtbs:hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(1) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-hz-mt:nth-child(1) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(1) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(2) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
  }
  .zf-hz .zf-hz-mt:nth-child(2) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(2) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mtbs:nth-child(2):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(2):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(3) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-hz-mt:nth-child(3) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(3) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mtbs:nth-child(3):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(3):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(4) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    display: flex;
  }
  .zf-hz .zf-hz-mt:nth-child(4) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
    width: 30%;
  }
  .zf-hz .zf-hz-mt:nth-child(4) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .zf-hz .zf-hz-mtbs:nth-child(4):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(4):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(5) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-hz-mt:nth-child(5) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(5) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mtbs:nth-child(5):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(5):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(6) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
  }
  .zf-hz .zf-hz-mt:nth-child(6) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(6) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mtbs:nth-child(6):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(6):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-mt:nth-child(7) {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-hz-mt:nth-child(7) .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mt:nth-child(7) .zf-hzmt-ri {
    float: right;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-mtbs:nth-child(7):hover {
    background-color: rgba(51, 117, 202, 0.2);
  }
  .zf-hz .zf-hz-mtbs:nth-child(7):hover p {
    color: #3375ca;
  }
  .zf-hz .zf-hz-nx {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 6px 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-le {
    float: left;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-riy {
    width: 16%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background-color: #3375ca;
    float: right;
    margin-right: 4px;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-riy a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #fff;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-rie {
    width: 28%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background-color: #3375ca;
    float: right;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #fff;
    margin-right: 4px;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-rie a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #fff;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-ris {
    width: 28%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background-color: #3375ca;
    float: right;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #fff;
    margin-right: 4px;
  }
  .zf-hz .zf-hz-nx .zf-hzmt-ris a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #fff;
  }
  .zf-hz .zf-gs {
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .zf-hz .zf-gs .zf-gs-bt {
    width: 100%;
    padding: 2px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #3375ca;
  }
  .zf-hz .zf-gs .zf-gs-rq {
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #666666;
    margin: 0;
  }
  .zf-hz .zf-jd-nr {
    width: 100%;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align-last: left;
    border-top: 2px solid #3375ca;
    background-color: #f7f7f7;
  }
  .zf-hz .zf-jd-nr span {
    display: block;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #333333;
    margin-bottom: 16px;
  }
  .zf-hz .zf-jd-nr p {
    text-indent: 2em;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #333333;
    margin-bottom: 16px;
  }
}
.mask {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 3;
}

.top-head,
.top-nav,
.search-box,
.zf-gk,
.zf-bq {
  z-index: 4;
  position: relative;
}
.zf-hz .zf-hz-mt:nth-child(8),.zf-hz .zf-hz-mt:nth-child(10),.zf-hz .zf-hz-mt:nth-child(12),.zf-hz .zf-hz-mt:nth-child(13){
  width: 100%;
height: 38px;
line-height: 38px;
padding: 0 10px 0 22px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
}
  .zf-hz .zf-hz-mt:nth-child(8) .zf-hzmt-ri,.zf-hz .zf-hz-mt:nth-child(10) .zf-hzmt-ri,.zf-hz .zf-hz-mt:nth-child(12) .zf-hzmt-ri,.zf-hz .zf-hz-mt:nth-child(13) .zf-hzmt-ri{
      float: right;
font-size: 14px;
font-family: SourceHanSansCN;
font-weight: 500;
color: #333;  
  }
.zf-hz .zf-hz-mt:nth-child(8) .zf-hzmt-le,.zf-hz .zf-hz-mt:nth-child(10) .zf-hzmt-le,.zf-hz .zf-hz-mt:nth-child(12) .zf-hzmt-le,.zf-hz .zf-hz-mt:nth-child(13) .zf-hzmt-le {
float: left;
font-size: 14px;
font-family: SourceHanSansCN;
font-weight: 500;
color: #333;
} 
.zf-hz .zf-hz-nx .zf-hzmt-riy,.zf-hz .zf-hz-nx .zf-hzmt-ris,.zf-hz .zf-hz-nx .zf-hzmt-rie{
  width:19%;
}