@media screen and (min-width: 100px) and (max-width: 1024px) {
  .top-part .top-head {
    width: 100%;
    height: 85px;
    background: url(mobile-head-bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .top-part .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 14px;
    height: 66px;
    background: url(mobile-top-bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .top-part .top-nav .top-index {
    width: 87px;
    height: 66px;
    line-height: 66px;
    text-align: center;
  }
  .top-part .top-nav .active {
    background: #754523;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
  .top-part .top-nav .top-list {
    width: 100%;
    height: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-part .top-nav .top-list li {
    width: 33%;
    height: 33px;
    line-height: 33px;
    text-align: center;
  }
  .top-part .top-nav a {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
  .top-part .search-box {
    padding: 8px 7.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7f7;
  }
  .top-part .search-box .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .top-part .search-box .search .search-input {
    width: 350px;
    height: 30px;
    background: #f0f0f0;
    border-radius: 2px;
    text-align: center;
  }
  .top-part .search-box .search .search-btn {
    width: 42px;
    height: 30px;
    background: #d51414;
    border-radius: 2px;
    position: relative;
  }
  .top-part .search-box .search .search-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -10px;
    width: 22px;
    height: 20px;
    background: url(mobile-search-icon.png) no-repeat;
    background-size: 100% 100%;
  }
  .top-part .search-box .search input::-webkit-input-placeholder {
    color: rgba(40, 40, 40, 0.8);
  }
  .top-part .search-box .search input::-moz-input-placeholder {
    color: rgba(40, 40, 40, 0.8);
  }
  .top-part .search-box .search input::-ms-input-placeholder {
    color: rgba(40, 40, 40, 0.8);
  }

  .footer-wrap {
    border-top: 3px solid #776253;
    width: 100%;
    background: #ddd6c4;
  }
  .footer-wrap .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 8px;
  }
  .footer-wrap .footer-list li {
    position: relative;
    width: 33.3%;
    height: 20px;
    text-align: center;
  }
  .footer-wrap .footer-list li a {
    display: block;
    color: #333;
    font-size: 12px;
  }
  .footer-wrap .footer-list li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 1px;
    height: 12px;
    background: #333;
  }
  .footer-wrap .footer-list li:nth-child(3n)::after {
    width: 0;
  }
  .footer-wrap .footer-content {
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
  }
  .footer-wrap .footer-content .g-icon {
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url(mobile-g-icon.png) no-repeat;
    background-size: 100% 100%;
  }
  .footer-wrap .footer-content .liu {
    display: inline-block;
    width: 19px;
    height: 4px;
    background: url(mobile-360.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
  }
  .footer-wrap .footer-content .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-wrap .footer-content .footer-img {
    padding: 20px 0;
  }
  .footer-wrap .footer-content .footer-img img:first-child {
    margin-right: 30px;
  }
}
